@font-face {
  font-family: futura;
  src: url(../font/FuturaPTMedium.otf);
}
@font-face {
  font-family: didot;
  src: url(../font/Didot\ Regular.ttf);
}
@font-face {
  font-family: questrial;
  src: url(../font/Questrial-Regular.ttf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: futura, sans-serif;
  font-size: 31.25%;
  color: #333331;
  scroll-behavior: smooth;
}
@media (min-width: 400px) {
  html {
    font-size: 37.5%;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

button {
  cursor: pointer;
}

.obj-cover {
  object-fit: cover;
}

.c-white {
  color: white;
}

.c-black {
  color: #262525 !important;
}

.bg-gray {
  background: #d4d1d1;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-sb {
  justify-content: space-between;
}

.g-2 {
  gap: 2rem;
}

.d-block {
  display: block;
}

.mY-30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mY-40 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mT-2 {
  margin-top: 2rem;
}

.mT-10 {
  margin-top: 10rem !important;
}

.mT-30 {
  margin-top: 3rem !important;
}

.mT-40 {
  margin-top: 4rem !important;
}

.mT-auto {
  margin-top: auto;
}

.pT-10 {
  padding-top: 10rem;
}

.pX-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

.container-10 {
  max-width: 110rem;
  margin: 0 auto;
}

.container-90 {
  max-width: 90rem;
  margin: 0 auto;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 3rem !important;
}

.fs-4 {
  font-size: 4rem !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-700 {
  font-weight: 700;
}

.txt-center {
  text-align: center;
}

.txt-end {
  text-align: end;
}

.font-didot {
  font-family: didot;
}

.underLine {
  position: relative;
  margin-bottom: 4rem;
}
.underLine::after {
  content: "";
  background-color: #ecc15d;
  height: 0.5rem;
  width: 4rem;
  position: absolute;
  left: 0;
  bottom: -3rem;
}

@media (min-width: 900px) {
  .sideLink {
    position: absolute;
    transform: rotate(90deg);
    right: -10rem;
    top: 50%;
  }
}
.sideLink a {
  text-decoration: none;
  color: #ecc15d;
  font-size: 4rem;
  font-weight: 900;
}
.sideLink a span {
  border-bottom: 7px solid #ecc15d;
  color: #262525;
}

.card {
  position: relative;
  overflow: hidden;
}
.card.card-none {
  display: none;
}
.card.card-active {
  display: block !important;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .card__content, .card .card__comming {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__comming {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 37, 37, 0.4);
}
.card__comming h2 {
  color: #e6e7e6;
  font-size: 3rem;
}
.card__content {
  color: #262525;
  background-color: rgba(230, 231, 230, 0.8);
  width: 70%;
  height: 80%;
  opacity: 0;
  transition: all 1s;
}
.card__content > * {
  text-transform: uppercase;
}
.card__content h2 {
  font-size: 4rem;
}
.card__content p {
  font-size: 2rem;
  text-decoration: underline;
}
.card:hover .card__content {
  opacity: 1;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 2.5rem;
  padding: 1.5rem 2.5rem;
}
.btn--white {
  color: #262525;
}
.btn--yellow {
  background: #ecc15d;
}
.btn--radius {
  border-radius: 10rem;
}
.btn--transparent {
  background: transparent;
  border: 1px solid #262525;
}
.btn--brown {
  background: #A99384;
}

.logo-box--purple__image {
  border: 1px solid #622a69;
  height: 35rem;
}
@media (min-width: 750px) {
  .logo-box--purple__image {
    width: 50rem;
    height: 30rem;
  }
}
.logo-box--purple__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-box--purple__content {
  background-color: #622a69;
  color: white;
  padding: 2rem 0;
  font-size: 1.5rem;
}
.logo-box--purple__content h4 {
  font-weight: 300;
}

.logo-box--brown__image {
  height: 50%;
}
.logo-box--brown__image img {
  width: 100%;
  border: 1px solid #a99384;
  border-bottom: 0;
  object-fit: cover;
}
@media (min-width: 700px) {
  .logo-box--brown__image img {
    height: 100% !important;
  }
}
.logo-box--brown__content {
  background: #a99384;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
}
.logo-box--brown__content ul {
  list-style: none;
  color: white;
}
.logo-box--brown__content-colors {
  font-size: 1.5rem;
  padding-right: 5rem;
}
.logo-box--brown__content-colors li:nth-child(2) {
  margin: 1rem 0;
}
.logo-box--brown__content-names {
  font-size: 1.6rem;
  border-left: 2px solid white;
  padding-left: 5rem;
}
.logo-box--brown__content-names li:nth-child(2) {
  margin: 2rem 0;
}
.logo-box--brown__content-names h3 {
  font-weight: 400;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.navbar__box-logo {
  text-decoration: none;
  color: #262525;
}
.navbar__box-logo img {
  height: 15rem;
  object-fit: cover;
}
.navbar__content {
  font-size: 2rem;
}
.navbar__box-hamburger button {
  background: none;
  border: none;
  background: #e6e7e6;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slide-nav {
  z-index: 1000;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: -70rem;
  width: 40%;
  height: 100vh;
  transition: all 1s;
  background: #e6e7e6;
}
.slide-nav__box-close {
  text-align: end;
}
.slide-nav__box-close button {
  font-size: 3rem;
  font-weight: 700;
  border-radius: 50%;
  border: none;
  padding: 0.7rem 1.5rem;
}
.slide-nav ul {
  list-style: none;
}
.slide-nav ul li a {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #262525;
}
@media (min-width: 600px) {
  .slide-nav {
    width: 33rem;
  }
}

.overScreen {
  position: fixed;
  transition: all 1s;
  top: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: -1;
}

.overScreenShow {
  z-index: 10;
  background: rgba(255, 255, 255, 0.397);
}

.slide-navShow {
  right: 0;
}

.header {
  padding: 0 2rem;
}
@media (min-width: 1000px) {
  .header {
    display: flex;
    gap: 4rem;
    padding: 0;
    margin-bottom: 15rem;
  }
}
.header__box-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30rem 15rem;
  gap: 2rem;
}
@media (min-width: 1000px) {
  .header__box-images {
    border-right: 2px solid #262525;
    padding-right: 6rem;
  }
}
.header__box-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__box-images img:last-child {
  grid-column: 1/-1;
}
.header__box-content {
  margin-top: 2rem;
}
@media (min-width: 1000px) {
  .header__box-content {
    margin: 0;
  }
}
.header__box-content ul {
  list-style: none;
}
.header__box-content ul li:not(:first-child) {
  margin-top: 3.5rem;
}
.header__box-content ul li h2 {
  font-size: 2rem;
}
.header__box-content ul li p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.side {
  display: none !important;
}
@media (min-width: 1000px) {
  .side {
    display: block !important;
  }
}

.title-side {
  position: fixed;
  font-size: 2rem;
  display: inline-block;
  transform: rotate(-90deg);
  margin-left: -11rem;
  margin-top: 15rem;
  text-align: end;
}
.title-side.cafe {
  margin-left: -10rem;
}
.title-side.cafe h1 {
  font-size: 10rem;
}
.title-side.cafe.wath {
  margin-left: -12rem;
}
.title-side h1 {
  font-size: 6rem;
  margin: 0;
  font-weight: 700;
}
.title-side a {
  display: inline-block;
  border: 3px solid #262525;
  padding: 1rem;
  color: #262525;
  text-decoration: none;
}

.button-side {
  position: fixed;
  padding-top: 10rem;
  right: 0;
  bottom: 25rem;
}
.button-side a {
  display: inline-block;
  text-decoration: none;
  transform: rotate(90deg);
  color: #ecc15d;
  background-color: #262525;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  margin-right: -2rem;
}

.ads {
  padding: 4rem 2rem;
}
.ads.bg-gray {
  background: #e6e7e6;
}
.ads > div {
  padding: 0 2rem;
}
.ads__box {
  padding: 0 3rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 100%;
  gap: 1.5rem;
}
@media (min-width: 500px) {
  .ads__box {
    grid-template-columns: 30% 70%;
    grid-auto-rows: 45rem;
  }
}
.ads__box img {
  width: 100%;
  height: 100%;
}

.footer {
  border-top: 1px solid #e6e7e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 8rem;
  font-size: 2rem;
}
.footer ul {
  list-style: none;
}
.footer ul li a {
  color: #262525;
}

.bigImage img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 900px) {
  .authorSection {
    position: relative;
  }
}
.authorSection main h1 {
  font-size: 10rem;
  font-weight: 500;
}
.authorSection main h2 {
  font-size: 3rem;
  font-weight: 300;
}

.gallery main {
  display: grid;
  gap: 2rem;
  row-gap: 2rem;
  transition: all 1s;
}
@media (min-width: 900px) {
  .gallery main {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35rem;
  }
}
.gallery main a {
  display: inline-block;
}

.moreAboutMe {
  justify-content: space-between;
  margin-top: 10rem;
}
@media (min-width: 600px) {
  .moreAboutMe {
    display: flex;
  }
}
.moreAboutMe__box-content {
  flex: 1 0 10rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.moreAboutMe__box-content h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.moreAboutMe__box-content p {
  font-size: 3rem;
  font-weight: 700;
}
.moreAboutMe__box-content ul {
  list-style: none;
  margin-top: 3rem;
  font-size: 2rem;
}
.moreAboutMe__box-content ul li:last-child {
  margin-top: 1rem;
}
@media (min-width: 600px) {
  .moreAboutMe__box-content {
    padding-left: 10rem;
  }
}
.moreAboutMe__box-img {
  flex: 1 0 10rem;
  text-align: center;
}
.moreAboutMe__box-img img {
  width: 40rem;
}

@media (min-width: 600px) {
  .formSection__form .box {
    display: flex;
    gap: 3rem;
  }
}
.formSection__form .box div {
  width: 100%;
  margin-top: 2rem;
}
@media (min-width: 600px) {
  .formSection__form .box div {
    margin-top: 0;
  }
}
.formSection__form label {
  font-size: 2rem;
}
.formSection__form input,
.formSection__form textarea {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  resize: none;
  border: 1px solid #e6e7e6;
}
.formSection__form textarea {
  height: 15rem;
}

.information {
  padding: 0 2rem;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
@media (min-width: 40rem) {
  .information {
    display: flex;
  }
}
.information.information-cafe {
  gap: 7rem;
}
.information.information-cafe .information__box-image {
  flex-basis: 15rem;
}
.information.information-cafe .information__box-image img {
  height: 50rem;
}
.information.information-product {
  gap: 7rem;
}
.information.information-product .information__box-image img {
  height: 45rem;
}
.information main {
  flex: 1;
}
.information__box-image img {
  width: 100%;
  height: 20rem;
}
.information__box-content h2 {
  font-size: 3rem;
}
.information__box-content p {
  font-size: 1.5rem;
  padding-left: 3rem;
}

.bigImage-2 {
  padding: 4rem 2rem;
  padding-bottom: 10rem;
  overflow: hidden;
}
.bigImage-2 div {
  margin-top: 10rem;
  padding: 0 3rem;
}
.bigImage-2 img {
  width: 100%;
}

.sectionLogo {
  padding: 0 2rem;
}
.sectionLogo.sectionLogo--product img {
  height: 40rem;
}
.sectionLogo.sectionLogo--product .sectionLogo__content {
  align-self: stretch;
}
.sectionLogo.sectionLogo--product ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
}
.sectionLogo__box {
  padding: 0 3rem;
  margin-top: 10rem;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 40rem) {
  .sectionLogo__box {
    display: flex;
  }
}
.sectionLogo__box-img img {
  width: 100%;
}
.sectionLogo__box .sectionLogo__content {
  font-size: 2rem;
  margin-top: 2rem;
}
@media (min-width: 50rem) {
  .sectionLogo__box .sectionLogo__content {
    margin-top: 0;
  }
}
.sectionLogo__box .sectionLogo__content ul li {
  gap: 2rem;
}
.sectionLogo__box .sectionLogo__content ul li main p {
  font-weight: 300;
}
.sectionLogo__box .sectionLogo__content ul li main p:nth-child(2) {
  margin: 0.5rem 0;
}
.sectionLogo__box .sectionLogo__content-square {
  width: 9rem;
}
.sectionLogo__box .sectionLogo__content-square--purple {
  background-color: #622a69;
}
.sectionLogo__box .sectionLogo__content-square--pink {
  background-color: #a03861;
}
.sectionLogo__box .sectionLogo__content-square--yellow {
  background-color: #ecc15d;
}
.sectionLogo__box .sectionLogo__content-square--blue {
  background: #2a5280;
}
.sectionLogo__box .sectionLogo__content-square--light-blue {
  background: #4d77b1;
}
.sectionLogo__box .sectionLogo__content-square--orange {
  background: #f78644;
}

.presentations {
  margin-top: 10rem;
  padding: 2rem 2rem;
}
.presentations.bg-purple {
  background: url(../images/bg2.png) center center/cover;
}
.presentations.bg-pink {
  background: url(../images/bg3.png);
}
.presentations.bg-yellow {
  background: url(../images/cup.png) center center/cover;
  height: 80rem;
}
.presentations.bg-blue {
  background: url(../images/bg.png) center center/cover;
}
.presentations.bg-blue .sideLink {
  right: 10rem !important;
}
.presentations.bg-blue .sideLink span {
  color: initial;
}
.presentations.bg-blue main {
  text-align: center;
}
.presentations.bg-blue img {
  width: 30rem;
}
.presentations__box {
  position: relative;
  padding: 5rem 3rem;
  justify-content: center;
  gap: 3rem;
}
@media (min-width: 40rem) {
  .presentations__box {
    display: flex;
  }
}
.presentations__box .sideLink {
  bottom: 0;
  right: 5rem;
}
.presentations__box .sideLink a {
  font-size: 2rem;
}
.presentations__box .sideLink a span {
  border-bottom: 0.4rem solid #ecc15d;
  color: white;
}
.presentations__box.presentations__box--imgFixes img {
  height: 60rem;
}
.presentations__box img {
  width: 100%;
  object-fit: cover;
}

.product {
  background: #262525;
  color: whitesmoke;
  padding: 10rem 2rem;
  margin-top: 5rem;
}
.product__box {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
@media (min-width: 650px) {
  .product__box {
    grid-template-columns: 45rem 10rem 25rem 1fr;
    grid-auto-rows: 65rem;
  }
}
.product__box main {
  text-align: center;
}
.product__box main p {
  font-size: 2rem;
  text-align: justify;
}
.product__box main img {
  width: 100%;
  object-fit: cover;
}
.product__colors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (min-width: 650px) {
  .product__colors {
    flex-direction: column;
  }
}
.product__colors div {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}
.product__colors--white {
  background: white;
}
.product__colors--orange {
  background: orangered;
}
.product__colors--yellow {
  background: rgb(255, 174, 0);
}
.product__colors--lemon {
  background: rgb(241, 255, 47);
}
.product__colors--green {
  background: green;
}
.product__colors--blue {
  background: blue;
}
.product__colors--blueLight {
  background: rgb(0, 183, 255);
}
.product__colors--purple {
  background: purple;
}
.product__content {
  padding-top: 4rem;
}
.product__image {
  height: 100%;
  width: 20rem !important;
}
@media (min-width: 650px) {
  .product__image {
    width: 100% !important;
  }
}

.gift {
  padding: 0 2rem;
}
.gift .d-flex {
  flex-direction: column;
  text-align: center;
}
.gift .box {
  justify-content: center;
  gap: 2rem;
}
.gift .box div {
  background: #e6e7e6;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gift .box .big {
  flex: 2;
}
@media (min-width: 700px) {
  .gift .d-flex {
    flex-direction: row;
  }
}
.gift .control {
  width: 40rem;
}
.gift img {
  width: 100%;
}

.visitWebsite {
  background: url(../images/webreview.png) center center/cover;
  height: 70rem;
}
.visitWebsite div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  padding-bottom: 3rem;
}

.coffe-box {
  display: grid;
  grid-auto-rows: 35rem;
  justify-content: center;
  gap: 5rem;
}
@media (min-width: 700px) {
  .coffe-box {
    grid-template-columns: 40rem 40rem;
  }
}
.coffe-box img {
  width: 100%;
  height: 100%;
}
.coffe-box main > p {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: end;
}
.coffe-box .mousePointng {
  position: relative;
}
.coffe-box .mousePointng div {
  position: absolute;
  background-color: rgba(26, 25, 25, 0.664);
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.styleguide {
  border-left: 1px solid rgba(26, 25, 25, 0.664);
  padding: 0 1rem !important;
}
@media (min-width: 500px) {
  .styleguide {
    padding-left: 6rem !important;
  }
}
.styleguide div {
  margin: 0;
}
.styleguide main {
  font-size: 2rem;
}
@media (min-width: 700px) {
  .styleguide main {
    display: flex;
  }
}
.styleguide main h2 {
  font-weight: 400;
}
.styleguide__typeface > div {
  padding-top: 1rem;
}
.styleguide__typeface h3 {
  font-weight: 300;
}
.styleguide__typeface .didot p {
  font-family: didot;
}
.styleguide__typeface .questrial {
  margin-top: 2rem;
}
.styleguide__typeface .questrial p {
  font-family: questrial;
}
.styleguide__colors {
  margin-top: 8rem;
  gap: 12rem;
}
.styleguide__colors li div:last-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.styleguide__colors .square {
  width: 10rem;
  height: 10rem;
  background: red;
}
.styleguide__colors .square--brown {
  background: #a99384;
}
.styleguide__colors .square--white {
  background: #e6e7e6;
}
.styleguide__colors .square--dark {
  background: #262525;
}
.styleguide__buttons {
  margin-top: 8rem;
  gap: 3rem;
}
.styleguide__buttons div {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0;
}
.styleguide__buttons div button {
  background: #a99384;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border: none;
}
.styleguide__buttons div ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  color: #a99384;
}
.styleguide__buttons div .links {
  border: 1px solid #a99384;
  padding: 1rem 2rem;
}
.styleguide__buttons div .buttons {
  display: block;
}
@media (min-width: 700px) {
  .styleguide__buttons div .buttons {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
