@font-face {
  font-family: futura;
  src: url(../font/FuturaPTMedium.otf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: futura, sans-serif;
  font-size: 31.25%;
  color: #333331;
}
@media (min-width: 400px) {
  html {
    font-size: 37.5%;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

button {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-sb {
  justify-content: space-between;
}

.g-2 {
  gap: 2rem;
}

.d-block {
  display: block;
}

.mY-30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mT-2 {
  margin-top: 2rem;
}

.mT-30 {
  margin-top: 3rem;
}

.mT-auto {
  margin-top: auto;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

.fs-2 {
  font-size: 2rem !important;
}

.fw-700 {
  font-weight: 700;
}

.txt-center {
  text-align: center;
}

.txt-end {
  text-align: end;
}

.underLine {
  position: relative;
  margin-bottom: 4rem;
}
.underLine::after {
  content: "";
  background-color: #ecc15d;
  height: 0.5rem;
  width: 4rem;
  position: absolute;
  left: 0;
  bottom: -3rem;
}

@media (min-width: 900px) {
  .sideLink {
    position: absolute;
    transform: rotate(90deg);
    right: -10rem;
    top: 50%;
  }
}
.sideLink a {
  text-decoration: none;
  color: #ecc15d;
  font-size: 4rem;
  font-weight: 900;
}
.sideLink a span {
  border-bottom: 7px solid #ecc15d;
  color: #262525;
}

.card {
  position: relative;
  overflow: hidden;
}
.card.card-none {
  display: none;
}
.card.card-active {
  display: block !important;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .card__content, .card .card__comming {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__comming {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 37, 37, 0.4);
}
.card__comming h2 {
  color: #e6e7e6;
  font-size: 3rem;
}
.card__content {
  color: #262525;
  background-color: rgba(230, 231, 230, 0.8);
  width: 70%;
  height: 80%;
  opacity: 0;
  transition: all 1s;
}
.card__content > * {
  text-transform: uppercase;
}
.card__content h2 {
  font-size: 4rem;
}
.card__content p {
  font-size: 2rem;
  text-decoration: underline;
}
.card:hover .card__content {
  opacity: 1;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 2.5rem;
  padding: 1.5rem 2.5rem;
}
.btn--white {
  color: #262525;
}
.btn--yellow {
  background: #ecc15d;
}
.btn--radius {
  border-radius: 10rem;
}
.btn--transparent {
  background: transparent;
  border: 1px solid #262525;
}

.navbar__box-logo {
  text-decoration: none;
  color: #262525;
}
.navbar__box-logo img {
  height: 15rem;
  object-fit: cover;
}
.navbar__content {
  font-size: 2rem;
}
.navbar__box-hamburger button {
  background: none;
  border: none;
  background: #e6e7e6;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slide-nav {
  z-index: 1000;
  padding: 2rem 5rem;
  position: fixed;
  top: 0;
  right: -70rem;
  width: 40%;
  height: 100vh;
  transition: all 1s;
  background: #e6e7e6;
}
.slide-nav__box-close {
  text-align: end;
}
.slide-nav__box-close button {
  font-size: 3rem;
  font-weight: 700;
  border-radius: 50%;
  border: none;
  padding: 0.7rem 1.5rem;
}
.slide-nav ul {
  list-style: none;
}
.slide-nav ul li a {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #262525;
}
@media (min-width: 600px) {
  .slide-nav {
    width: 25rem;
  }
}

.overScreen {
  position: fixed;
  transition: all 1s;
  top: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: -1;
}

.overScreenShow {
  z-index: 10;
  background: rgba(255, 255, 255, 0.397);
}

.slide-navShow {
  right: 0;
}

.footer {
  border-top: 1px solid #e6e7e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 8rem;
  font-size: 2rem;
}
.footer ul {
  list-style: none;
}
.footer ul li a {
  color: #262525;
}

.bigImage img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 900px) {
  .authorSection {
    position: relative;
  }
}
.authorSection main h1 {
  font-size: 10rem;
  font-weight: 500;
}
.authorSection main h2 {
  font-size: 3rem;
  font-weight: 300;
}

.gallery main {
  display: grid;
  gap: 2rem;
  row-gap: 2rem;
  transition: all 1s;
}
@media (min-width: 900px) {
  .gallery main {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35rem;
  }
}
.gallery main a {
  display: inline-block;
}

.moreAboutMe {
  justify-content: space-between;
  margin-top: 10rem;
}
@media (min-width: 600px) {
  .moreAboutMe {
    display: flex;
  }
}
.moreAboutMe__box-content {
  flex: 1 0 10rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.moreAboutMe__box-content h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.moreAboutMe__box-content p {
  font-size: 3rem;
  font-weight: 700;
}
.moreAboutMe__box-content ul {
  list-style: none;
  margin-top: 3rem;
  font-size: 2rem;
}
.moreAboutMe__box-content ul li:last-child {
  margin-top: 1rem;
}
@media (min-width: 600px) {
  .moreAboutMe__box-content {
    padding-left: 10rem;
  }
}
.moreAboutMe__box-img {
  flex: 1 0 10rem;
  text-align: center;
}
.moreAboutMe__box-img img {
  width: 40rem;
}

.formSection__form {
  max-width: 90rem;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .formSection__form .box {
    display: flex;
    gap: 5rem;
  }
}
.formSection__form .box div {
  width: 100%;
  margin-top: 2rem;
}
@media (min-width: 600px) {
  .formSection__form .box div {
    margin-top: 0;
  }
}
.formSection__form label {
  font-size: 2rem;
}
.formSection__form input,
.formSection__form textarea {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
