@use '../abstracs/mixins' as *;
@use "../abstracs/color" as *;

.formSection {
  &__form {
  

    .box {
      @include for-size('tablet-portrait-up') {
        display: flex;
        gap: 3rem;
      }

      div {
        width: 100%;
        margin-top: 2rem;

        @include for-size('tablet-portrait-up') {
          margin-top: 0;
        }
      }
    }

    label {
      font-size: 2rem;
      display: inline-block;
      padding-bottom: 1rem;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 1rem 2rem;
      resize: none;
      border: 1px solid $black;
    }

    textarea {
      height: 15rem;
    }
  }
}
