@use "../abstracs/mixins" as *;

.ads {
  padding: 4rem 2rem;

  &.bg-gray {
    background: #e6e7e6;
  }

  & > div {
    padding:  0 2rem;
  }

  &__box {
    padding: 0 3rem;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 1.5rem;

    @include for-size(500px){
        grid-template-columns: 30% 70%;
        grid-auto-rows: 45rem;
    }

    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }
  }
}
