@use '../abstracs/mixins' as *;
@use '../abstracs/color' as *;

.navbar {
  &__box-logo {
    text-decoration: none;
    color: $black;
    img {
      height: 15rem;
      object-fit: cover;
    }
  }

  &__content {
    font-size: 2rem;
  }

  &__box-hamburger {
    button {
      background: none;
      border: none;
      background: $gray;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.slide-nav {
  z-index: 1000;
  padding: 2rem 5rem;
  position: fixed;
  top: 0;
  right: -70rem;
  width: 40%;
  height: 100vh;
  transition: all 1s;
  background: $gray;

  &__box-close {
    text-align: end;
    button {
      font-size: 3rem;
      font-weight: 700;
      border-radius: 50%;
      border: none;
      padding: .7rem 1.5rem;
    }
  }

  ul {
    list-style: none;
    li {
      a {
        font-size: 3rem;
        font-weight: 700;
        text-decoration: none;
        color: $black;
      }
    }
  }

  @include for-size('tablet-portrait-up') {
    width: 25rem;
  }
}

.overScreen {
  position: fixed;
  transition: all 1s;
  top: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: -1;
}

.overScreenShow {
  z-index: 10;
  background: rgba(255, 255, 255, 0.397);
}

.slide-navShow {
  right: 0;
}
