@use '../abstracs/color' as *;
@use '../abstracs/mixins' as *;

.side {
  position: sticky;
  top: 0;
  padding-top: 7rem;
  display: none;

  @include for-size(1000px) {
    display: block;
  }
}

.title-side {
  font-size: 2rem;
  display: inline-block;
  transform: rotate(-90deg);
  margin-left: -11rem;
  margin-top: 15rem;
  text-align: end;

  h1 {
    font-size: 6rem;
    margin: 0;
  }

  p {
    display: inline-block;
    border: 3px solid $black;
    padding: 1rem;
  }
}

.button-side {
  text-align: end;
  padding-top: 10rem;

  button {
    transform: rotate(90deg);
    color: $yellow;
    background-color: $black;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    margin-right: -2rem;
  }
}
