@use '../abstracs/mixins' as *;
@use '../abstracs/color' as *;

@font-face {
  font-family: futura;
  src: url(../font/FuturaPTMedium.otf);
}


@font-face {
  font-family: didot;
  src: url(../font/Didot\ Regular.ttf);
}

@font-face {
  font-family: questrial;
  src: url(../font/Questrial-Regular.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: futura, sans-serif;
  font-size: 31.25%;
  color: $black-2;
  scroll-behavior: smooth;

  @include for-size('phone-only') {
    font-size: 37.5%;
  }

  @include for-size('tablet-portrait-up') {
    font-size: 50%;
  }

  @include for-size(1300px) {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

button {
  cursor: pointer;
}
