@use '../abstracs/mixins' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Questrial', sans-serif;
  font-size: 31.25%;

  @include for-size('phone-only') {
    font-size: 37.5%;
  }

  @include for-size('tablet-portrait-up') {
    font-size: 50%;
  }

  @include for-size('tablet-landscape-up') {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

button {
  cursor: pointer;
}
