@use '../abstracs/mixins' as *;


.c-white {
  color: white;
}

.bg-gray {
  background: #e6e7e6;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-sb {
  justify-content: space-between;
}

.g-2 {
  gap: 2rem;
}
// Flex

.d-block {
  display: block;
}

// margin
.mY-30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mT-2 {
  margin-top: 2rem;
}

.mT-10 {
  margin-top: 10rem !important;
}

.mT-30 {
  margin-top: 3rem !important;
}

.mT-40 {
  margin-top: 4rem !important;
}

.mT-auto {
  margin-top: auto;
}

// padding
.pT-10{
  padding-top: 10rem;
}

.pX-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;

  @include for-size('tablet-landscape-up') {
    max-width: 1200px;
  }

  @include for-size('medium-desktop-up') {
    max-width: 1400px;
  }
}

.container-10 {
  max-width: 110rem;
  margin: 0 auto;
}

.container-90 {
  max-width: 90rem;
  margin: 0 auto;
}


.fs-2{
  font-size: 2rem !important;
}

.fs-4 {
  font-size: 4rem !important;
}

.fw-300 {
  font-weight: 300!important;
}

.fw-700 {
  font-weight: 700;
}

.txt-center {
  text-align: center;
}

.txt-end {
  text-align: end;
}