@use '../abstracs/mixins' as *;

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-sb {
  justify-content: space-between;
}
// Flex

.d-block {
  display: block;
}

// margin
.mY-30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mT-30 {
  margin-top: 3rem;
}

.mT-auto {
  margin-top: auto;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;

  @include for-size('tablet-landscape-up') {
    max-width: 1200px;
  }

  @include for-size('medium-desktop-up') {
    max-width: 1400px;
  }
}

.fw-700 {
  font-weight: 700;
}

.txt-center {
  text-align: center;
}